.wrapper {
  padding: var(--copy-gutter);
  padding-top: 24px;
}

.wrapper p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.wrapper h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section {
  min-height: 400px;
  background-color: var(--secondary-color);
  padding: var(--copy-gutter);
  margin-bottom: 32px;
}

.title {
  margin-bottom: -40px;
}

.title h2 {
  font-size: 2.5rem;
}

.title p {
  padding-left: 4%;
}

.section p {
  font-size: 1.2rem;
  text-transform: none;
  text-align: center;
  margin-top: 8px;
}

.secondSection img {
  display: none;
  width: 100%;
}

.mobileImageWrapper {
  display: block;
  margin-bottom: 32px;
}

.mobileImageWrapper img {
  width: 100%;
}

.qualifications {
  font-size: 1.2rem;

  text-align: center;
}

.qualifications h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.qualifications ul {
  list-style: none;
}

.qualifications li {
  margin-bottom: 8px;
}

@media only screen and (min-width: 900px) {
  .mobileImageWrapper {
    display: none;
  }

  .wrapper {
  }

  .wrapper p {
    font-size: 2.5rem;
  }

  .wrapper h3 {
    font-size: 2rem;
  }

  .section {
    padding-top: 90px;
    margin-bottom: var(--spacing-y);
  }

  .title {
    margin-bottom: -80px;
  }

  .title h2 {
    font-size: 4rem;
  }

  .title p {
    padding-left: 10%;
  }

  .section p {
    font-size: 1.5rem;
  }

  .secondSection img {
    display: block;
  }
}
