.wrapper {
  padding: var(--copy-gutter);
  padding-top: 24px;
}

.wrapper p {
  font-size: 1.2rem;
}

.wrapper h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section {
  min-height: 400px;
  background-color: var(--secondary-color);
  padding: var(--copy-gutter);
  margin-bottom: 32px;
}

.title {
  margin-bottom: -40px;
}

.title h2 {
  font-size: 2.5rem;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title p {
  padding-left: 4%;
}

.section p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 16px;
}

.secondSection img {
  display: none;
  width: 100%;
}

.mobileImageWrapper {
  display: block;
  margin-bottom: 32px;
}

.mobileImageWrapper img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1000/1323;
}

.qualifications {
  font-size: 1.2rem;

  text-align: center;
}

.qualifications h3 {
  font-family: var(--secondary-font);
  margin-bottom: 8px;
}

.qualifications ul {
  list-style: none;
}

.qualifications li {
  margin-bottom: 8px;
}

.section .marketCaption {
  margin-top: 32px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

.wrapper .missionLinkWrapper {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .wrapper .missionLinkWrapper {
    margin-top: var(--spacing-y);
    margin-bottom: var(--spacing-y);
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .mobileImageWrapper {
    display: none;
  }

  .wrapper {
    /* display: flex; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
    margin-bottom: var(--spacing-y);
  }

  .wrapper p {
    font-size: 2.5rem;
  }

  .wrapper h3 {
    font-size: 2.5rem;
    margin-bottom: 32px;
  }

  .section {
    padding-top: 90px;
    margin-bottom: var(--spacing-y);
    /* height: 100%; */
  }

  .title {
    margin-bottom: -80px;
  }

  .title h2 {
    font-size: 4rem;
  }

  .title p {
    padding-left: 10%;
  }

  .section p {
    font-size: 1.2rem;
  }

  .secondSection img {
    display: block;
    margin-bottom: 32px;
    aspect-ratio: 1000/1323;
  }

  .qualifications li {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  .wrapper .missionLinkWrapper {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper .missionLinkWrapper {
    font-size: 2rem;
  }
}
