:root {
  --spacing-y: 32px;
  --copy-gutter: var(--spacing-y) 12%;
  --max-width: 859px;
  --nav-height: 70px;
  --border-radius: 4px;
  --primary-font: sans-serif;

  --text-color: #000000;
  --background-color: #ffffff;
  --secondary-color: #eaeef7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  font-family: var(--primary-font);
}

body {
  color: var(--text-color);
  background: var(--background-color);
  height: 100%;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
