.hero {
  display: flex;
  justify-content: flex-end;
  height: 500px;
  padding: 32px 8%;
  background: url(/images/aaliyah.jpg);
  background-repeat: no-repeat;
  background-position: center 65%;
  border-radius: var(--border-radius);
}

.heroCopy {
  display: inline-block;
  text-align: center;
}

.heroCopy h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

.heroCopy p {
  font-size: 1.5rem;
}

.marketCopy {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 4px;
}
