.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.heroCopy {
  position: absolute;
  top: 20%;
  right: 20%;
  text-align: center;
}

.heroCopy h1 {
  font-size: 4rem;
  margin-bottom: 16px;
}

.heroCopy p {
  font-size: 1.5rem;
}

.marketCopy {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: var(--copy-gutter);
}

.missionWrapper {
  padding: var(--copy-gutter);
  background-color: var(--secondary-color);
  text-align: center;
}

.missionLeadCopy {
  font-size: 1.5rem;
}

.missionSecondaryCopy {
  font-size: 1.2rem;
}

.missionLinkWrapper {
  margin-top: var(--spacing-y);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
