.layout {
  /* max-width: var(--max-width); */
  margin: 0 auto;
}

.main {
  /* margin-bottom: var(--spacing-y); */
}

.footer {
  padding: 10px 8px 8px;
  font-family: var(--secondary-font);
  text-align: center;
}
