.nav {
  height: var(--nav-height);
  display: none;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
}

.nav a {
  display: block;
  padding: 0 4%;
  font-size: 1.2rem;
}
/* .nav a:first-child {
  padding-left: 10px;
} */

.nav h1 {
  font-family: var(--primary-font);
  text-transform: none;
  margin-left: auto;
  padding: 0 4%;
}

.mobileNav {
  font-family: var(--secondary-font);
  display: block;
  height: var(--nav-height);
}

.navHome {
  /* position: absolute; */
  z-index: 1;
  width: 100%;
}

.logo {
  width: 200px;
  margin-left: auto;
  margin-right: 4%;
  border-radius: var(--border-radius);
}
.mobileLogo {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 60px;
}

@media only screen and (min-width: 900px) {
  .nav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}
