.nav {
}

.navLinks {
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
}

.navLinks a {
  display: block;
  padding: 0 var(--spacing-y);
  font-size: 1.2rem;
}
