.wrapper {
  padding: var(--copy-gutter);
  padding-top: 24px;
}

.wrapper p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.wrapper h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section {
  /* min-height: 400px; */
  background-color: var(--secondary-color);
  padding: var(--copy-gutter);
  margin-bottom: 32px;
}

.section li {
  font-size: 1.2rem;
}

.section ol li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* max-width: 300px; */
  margin-top: 8px;
  margin-bottom: 32px;
}

.section ul {
  margin-left: 3rem;
  margin-top: 8px;
}

.blockSection h3 {
  padding: var(--copy-gutter);
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--secondary-font);
}

.blockSection .section {
  padding-top: 32px;
  padding-bottom: 56px;
}

.title {
  margin-bottom: -40px;
}

.title h2 {
  font-size: 2.5rem;
  font-family: var(--primary-font);
}

.title p {
  padding-left: 4%;
  font-family: var(--secondary-font);
}

.price {
  font-weight: bold;
}

.section p {
  font-size: 1.2rem;
  text-transform: none;
  margin-top: 8px;
}

.sectionLead {
  font-weight: bold;
  font-style: italic;
}

@media only screen and (min-width: 900px) {
  .wrapper {
  }

  .wrapper p {
    font-size: 2.5rem;
  }

  .wrapper h3 {
    font-size: 2rem;
  }

  .section {
    padding-top: 90px;
    margin-bottom: var(--spacing-y);
  }

  .section li {
    font-size: 1.2rem;
  }

  .title {
    margin-bottom: -80px;
  }

  .title h2 {
    font-size: 4rem;
  }

  .title p {
    padding-left: 10%;
  }

  .price {
  }

  .section p {
    font-size: 1.2rem;
  }
}

.wrapper .missionLinkWrapper {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .wrapper .missionLinkWrapper {
    margin-top: var(--spacing-y);
    margin-bottom: var(--spacing-y);
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .wrapper .missionLinkWrapper {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper .missionLinkWrapper {
    font-size: 2rem;
  }
}
